<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Your addresses</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <div class="address" *ngFor="let address of addresses">
          <div style="display: flex">
            <button class="icon-button" (click)="editAddress(address.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="icon-button" (click)="deleteAddress(address.id)">
              <mat-icon>delete-forever</mat-icon>
            </button>
            <mat-list-item
              >{{ address.street }}, {{ address.houseNumber }},
              {{ address.neighborhood }}</mat-list-item
            >
          </div>
          <mat-divider></mat-divider>
        </div>
        <div class="buttons-layout">
          <mat-list-item
            ><button class="button-21" role="button" (click)="addOne()">
              Add one
            </button></mat-list-item
          >
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
