.container {
  align-items: start;
  margin: 10vh 0vw 5vh 0.8vw;
  width: 80vw;
  height: 83vh;
}

.table {
  width: 80vw;
  height: 61vh;
}

.pagination {
  display: flex;
}

.header-container {
  display: flex;
  padding-bottom: 16px;
}

.see-more-icon {
  color: #3eb2fd(240, 16, 16);
  margin-left: 0.7rem;
  cursor: pointer;
}
