<div class="well sidebar-nav">
  <h5>
    <i class="glyphicon glyphicon-home"></i>
    <small><b> STORE</b></small>
  </h5>
  <ul class="nav nav-pills nav-stacked">
    <li routerLinkActive="active"><a routerLink="/products">Products</a></li>
  </ul>
  <div class="operator" *ngIf="!isAdmin">
    <h5>
      <i class="glyphicon glyphicon-user"></i>
      <small><b> MY USER</b></small>
    </h5>
    <ul class="nav nav-pills nav-stacked">
      <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
      <li routerLinkActive="active"><a routerLink="/orders">Orders</a></li>
      <li routerLinkActive="active"><a routerLink="/tickets">Tickets</a></li>
    </ul>
  </div>
  <div class="admin" *ngIf="isAdmin">
    <h5>
      <i class="glyphicon glyphicon-eject"></i>
      <small><b> ADMIN</b></small>
    </h5>
    <ul class="nav nav-pills nav-stacked">
      <li routerLinkActive="active">
        <a routerLink="admin/products">Manage Products</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="admin/users">Manage Users</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="admin/orders">Orders</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="admin/tickets">Manage Tickets</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="admin/info">Informations</a>
      </li>
    </ul>
  </div>
  <div id="bottom-section">
    <hr style="margin-top: 2px" />
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a (click)="logout()">
          <i class="glyphicon glyphicon glyphicon-log-out"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>
